public/resources/alerts.json
.idea/libraries/
workspace.xml
*.iml
*.lock
*.komodoproject
.DS_Store
#.history
.classpath
.cache
#.project/
.settings/
.target/
RUNNING_PID
repository/
monitoring/
target/
logs/
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver
