.idea/libraries/
project/
workspace.xml
*.iml
*.lock
*.komodoproject
.DS_Store
.history
.classpath
.cache
.project/
.project
.settings/
.target/
RUNNING_PID
project/boot/
repository/
monitoring/
target/
logs/
.settings
.classpath
.project
.cache
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver
