public/resources/alerts.json
.idea/libraries/
workspace.xml
*.iml
*.lock
*.komodoproject
.DS_Store
.classpath
.cache
.settings/
.target
RUNNING_PID
repository/
monitoring/
project
target/*
#target/universal/tmp
logs/
#!target/universal
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver

