<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="INFO"/>
    <logger name="application" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.avaje.ebean.ReadAuditQuery" level="OFF" additivity="false">
        <appender-ref ref="READAUDIT_QUERY_LOG"/>
    </logger>

    <logger name="org.avaje.ebean.ReadAudit" level="OFF" additivity="false">
        <appender-ref ref="READAUDIT_LOG"/>
    </logger>

    <logger name="org.avaje.ebean.ChangeLog" level="OFF" additivity="false">
        <appender-ref ref="CHANGE_LOG"/>
    </logger>

    <logger name="com.avaje.ebean" level="OFF"/>
    <logger name="org.avaje.ebean.SQL" level="OFF"/>
    <logger name="org.avaje.ebean.TXN" level="OFF"/>
    <logger name="org.avaje.ebean.SUM" level="OFF"/>
    <logger name="org.avaje.ebean.ELA" level="OFF"/>

    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
    <logger name="org.asynchttpclient.netty" level="OFF"/>
    <logger name="com.zaxxer.hikari.pool" level="OFF"/>
    <logger name="com.avaje.ebeaninternal" level="OFF"/>

</configuration>
