@import play.mvc.Http
@(responseText: String)(signupForm: play.data.DynamicForm)
@()

<html lang="en">
    <head>
        <title>Add or modify API users</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @if(responseText != null) {
            <div id="response">
            @responseText
            </div>
        }
        <form method="POST" action="@routes.SignupController.addUser()">
            <div id="mainform">
                <div class="item">
                    <input placeholder="Organization Name" type="text", name="org_name"/>
                    <div class="errors">
                    @for(error <- signupForm("org_name").errors) {
                        <p>@error.message</p>
                    }
                    </div>
                </div>
                <div class="item">
                    <input placeholder="Account Email" type="text", name="email"/>
                    <div class="errors">
                    @for(error <- signupForm("email").errors) {
                        <p>@error.message</p>
                    }
                    </div>
                </div>
                <div class="item">
                    <input placeholder="Password", type="password", name="password_1"/>
                    <div class="errors">
                    @for(error <- signupForm("password_1").errors) {
                        <p>@error.message</p>
                    }
                    </div>
                </div>
                <div class="item">
                    <input placeholder="Password", type="password", name="password_2"/>
                </div>
                <div class="item">
                    <input placeholder="Estimated daily device registrations", type="number", name="estimate_daily_regs"/>
                    <div class="errors">
                    @for(error <- signupForm("estimate_daily_regs").errors) {
                        <p>@error.message</p>
                    }
                    </div>
                </div>
                <div class="item">
                    <input type="checkbox" name="platform_gcm" title="Google (GCM)"/>
                    Google (GCM)
                </div>
                <div class="item">
                    <input type="checkbox" name="platform_apns" title="Apple (APNs)"/>
                    Apple (APNs)
                </div>
                <div id="requestbutton">
                    <button>Request Account</button>
                </div>
                <div class="errors">
                @for(error <- signupForm("platform_gcm").errors) {
                    <p>@error.message</p>
                }
                </div>
            </div>
        </form>
    </body>
</html>