@import play.mvc.Http
@(responseText: String)(signupForm: play.data.DynamicForm)
@()

<html lang="en">
    <head>
        <title>Add or modify API users</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @if(responseText != null) {
            <div id="response">
            @responseText
            </div>
        }
        <form method="POST" action="@routes.SignupController.addUser()">
            <div id="mainform">

                <div class="item">
                    <input placeholder="Organization Name" type="text", name="org_name"/>
                    <div class="errors">
                        <p>@signupForm.error("org_name")</p>
                    </div>
                </div>

                <div class="item">
                    <input placeholder="Account Email" type="text", name="email"/>
                    <div class="errors">
                        <p>@signupForm.error("email")</p>
                    </div>
                </div>

                <div class="item">
                    <input placeholder="Password", type="password", name="password_1"/>
                    <div class="errors">
                        <p>@signupForm.error("password_1")</p>
                    </div>
                </div>

                <div class="item">
                    <input placeholder="Password", type="password", name="password_2"/>
                    <div class="errors">
                        <p>@signupForm.error("password_2")</p>
                    </div>
                </div>

                <div class="item">
                    <input placeholder="Estimated daily device registrations", type="number", name="estimate_daily_regs"/>
                    <div class="errors">
                        <p>@signupForm.error("estimate_daily_regs")</p>
                    </div>
                </div>

                <div class="item">
                    <input type="checkbox" name="platform_gcm" title="Google (GCM)"/>
                    Google (GCM)
                </div>

                <div class="item">
                    <input type="checkbox" name="platform_apns" title="Apple (APNs)"/>
                    Apple (APNs)
                </div>

                <div class="item">
                    <input placeholder="Package URI/name", type="text", name="package_uri"/>
                    <div class="errors">
                        <p>@signupForm.error("package_uri")</p>
                    </div>
                </div>

                <div class="errors">
                    <p>@signupForm.error("platform_gcm")</p>
                </div>

                <div id="requestbutton">
                    <button>Request Account</button>
                </div>
            </div>
        </form>
    </body>
</html>